# local .terraform directories
**/.terraform/*

# tf state files 
*.tfstate
*.tfstate.*


# terraform variable files

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore MacOs system file
.DS_store